<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <link th:href="@{/styles/css/all.css}" rel="stylesheet" />
      <title>Házi feladatok</title>      
   </head>
   <body>
   <div class="nav">
		<form method="get" action="/index">
	          <button class="button button5" type="submit"><span>Főoldal</span></button>
	    </form>
		<form method="get" action="/all">
	          <button class="button button5" type="submit"><span>Feladatok listázása</span></button>
	    </form>
	    <form action="/new" method="get">
	        <button class="button button5" type="submit" id="new">Új házi feladat kiírása</button>
	      </form>
	    <form th:action="@{/logout}" method="post">
			  <button class="button button5 logout" type="submit"><span>Kijentkezés</span></button>
		</form>
	</div>
   <div class="all">
   <img class="homework" src="https://i.ibb.co/0ffrYV6/homework.png" alt="homework">
       <table>
         <thead>
            <tr>
               <th>Tantárgy</th>
               <th>Feladat</th>
               <th>Határidő</th>
            </tr>
            </thead>
            <tr th:each="task: ${tasks}">
               <td th:text="${task.lesson}"></td>
               <td th:text="${task.todo}"></td>
               <td th:text="${#dates.format(task.date, 'yyyy-MM-dd')}"></td>
               <td class="deleteupdate">
               		<form th:action="@{/delete}" th:object="${task}" method="post">
				        <button class="button button5" type="submit" id="delete" style="position: relative">Törlés</button>
				        <input type="hidden" name="id" th:value="${task.id}">
				     </form>   
				     <form th:action="@{/update}" th:object="${task}" method="post">
				        <button class="button button5" type="submit" id="update">Módosítás</button>
				        <input type="hidden" name="id" th:value="${task.id}">
						<input type="hidden" name="lesson" th:value="${task.lesson}">
						<input type="hidden" name="todo" th:value="${task.todo}">
						<input type="hidden" name="date" th:value="${task.date}">
				     </form>
               </td>
            </tr>
         
      </table>
      </div>
   </body>
</html>