<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<link th:href="@{/styles/css/all.css}" rel="stylesheet" />
    <title>Kezdolap</title>
</head>
<body>
	<div class="nav">
		<form method="get" action="/index">
	          <button class="button button5" type="submit"><span>Főoldal</span></button>
	    </form>
		<form method="get" action="/all">
	          <button class="button button5" type="submit"><span>Feladatok listázása</span></button>
	    </form>
	    <form action="/new" method="get">
	        <button class="button button5" type="submit" id="new">Új házi feladat kiírása</button>
	      </form>
	    <form th:action="@{/logout}" method="post">
			  <button class="button button5 logout" type="submit"><span>Kijentkezés</span></button>
		</form>
	</div>
	<div class="all">
	   <h1 class="newh1">Az ön profilja</h1>
	     <div class="card">
		  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
		  <div class="containercard">
		    <h3 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h3> 
		  </div>
		</div>
	</div>
</body>

</html>