<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Új házi feladat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link th:href="@{/styles/css/all.css}" rel="stylesheet" />
</head>
<body>
<div class="all">
<h1 class="newh1">Módosítás</h1>
<form action="#" th:action="@{/updatepressed}" th:object="${task}" method="post">
    <input type="hidden" th:value="${task.id}" th:field="*{id}"/>
    <p>Tantárgy: <input type="text" th:value="${task.lesson}" th:field="*{lesson}"/></p>
    <p>Feladat: <input type="text" th:value="${task.todo}" th:field="*{todo}"/></p>
    <p>Dátum: <input type="date" th:value="${task.date}" th:field="*{date}"/></p>
    <p><input type="submit" value="Módosítás"/></p>
</form>
<form action="/all" method="get">
    <button type="submit" class="button button5">Vissza</button>
</form>
</div>
</body>
</html>